<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/girl3.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/collection.css">
   
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Parsim point</title>
</head>
<body>
    <%- include('./partials/nav.ejs')%> 
    <%- include('./partials/categoryColl.ejs') %> 

    <!-- container  -->
    <div class="container">
    <div class="image">
        <div class="imgSec" dataId="9">
            <img src="https://i.pinimg.com/236x/8c/bf/17/8cbf173c3c1c5fae4ac7411402d05990.jpg" class="photo" >
            <div class="text">Necklace</div>
            </div>
            <div class="desc">
                <p class="name">Double Deck Necklace
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
    <div class="image" dataId="10">
        <div class="imgSec">
            <img src="https://i.pinimg.com/236x/70/67/fd/7067fda96c5cc9dc302e53c5a0246d72.jpg" class="photo" >
            <div class="text">Necklace</div>
            </div>
            <div class="desc">
                <p class="name">Multi-layer Necklace
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
    <div class="image" dataId="11">
        <div class="imgSec">
            <img src="https://i.pinimg.com/236x/13/07/25/1307250f31ec89843a0817f38a793e84.jpg" class="photo" >
            <div class="text">Pearl Pins</div>
            </div>
            <div class="desc">
                <p class="name">Pearl Pins
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
    <div class="image" dataId="12">
        <div class="imgSec">
            <img src="https://i.pinimg.com/236x/74/c4/8b/74c48b89c7384e484f318e49cd3847a6.jpg" class="photo" >
            <div class="text">Bracelet</div>
            </div>
            <div class="desc">
                <p class="name">Butterfly Bracelet
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
    <div class="image" dataId="3">
        <div class="imgSec">
            <img src="https://i.pinimg.com/236x/75/b4/15/75b41507e4ea22888bd861774cd7fd50.jpg" class="photo" >
            <div class="text">Chocker</div>
            </div>
            <div class="desc">
                <p class="name">Silver Chocker Necklace
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
    <div class="image" dataId="13">
        <div class="imgSec">
            <img src="https://i.pinimg.com/236x/f8/84/a4/f884a4ddcfce2052d60a7d9654564382.jpg" class="photo" >
            <div class="text">Ring</div>
            </div>
            <div class="desc">
                <p class="name">Heart Shaped Ring
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
    <div class="image" dataId="14">
        <div class="imgSec">
            <img src="https://i.pinimg.com/236x/2b/45/25/2b452508364d4bd13c10fe768e5be0a2.jpg" class="photo" >
            <div class="text">Crown</div>
            </div>
            <div class="desc">
                <p class="name">Silver Crown
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
    <div class="image" dataId="5">
        <div class="imgSec">
            <img src="https://i.pinimg.com/564x/38/74/97/387497e782c9c9a7cf4eb87aaedd9c04.jpg" class="photo" >
            <div class="text">Bracelets</div>
            </div>
            <div class="desc">
                <p class="name">Silver Bracelets
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
    </div>
</body>
<%- include('./partials/some_scripts')%>
<script src="js/collection.js"></script>

</html>