<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/girl3.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/collection.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Parsim point</title>

</head>

<body>
    <%- include('./partials/nav.ejs') %> 

 <!-- Heading start-->
 <div class="collectionHeading">
    <h1 class="collectionHead">COLLECTION</h1>
</div>
<script src="js/nav.js"></script>
<!-- Heading finish -->

    <%- include('./partials/categoryColl.ejs') %> 


   <!-- collections start -->
    <div class="container">
        <div class="image"  dataId="1">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/e5/09/ba/e509ba9db5cca6848325cb0236d5d636.jpg" class="photo">
                <div class="text">Toes Heels</div>
            </div>
            <div class="desc">
                <p class="name">Open Toes Heels</p> 
               <span>Price: &#x20B9;</span>
               <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="2">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/2f/49/08/2f4908f7e23b56bba1ffa9b417cc14c4.jpg" class="photo">
                <div class="text">Floral dress</div>
            </div>
            <div class="desc">
                <p class="name">Floral dress
                </p>
                <span>Price: &#x20B9;</span>
               <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="3">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/75/b4/15/75b41507e4ea22888bd861774cd7fd50.jpg" class="photo" >
                <div class="text">Chocker</div>
                </div>
                <div class="desc">
                    <p class="name">Silver Chocker Necklace
                    </p>
                    <span>Price: &#x20B9;</span>
                    <span class="price">499</span>
                    <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart"Add To Cart>Add To Cart</button>
                </div>
            </div>
            <div class="image" dataId="4">
                <div class="imgSec">
                    <img src="https://i.pinimg.com/236x/13/95/63/1395630d77fb6c1ec2eb5e92d48bea5e.jpg" class="photo">
                    <div class="text">Black Sandals</div>
                </div>
                <div class="desc">
                    <p class="name">Black Glitter Sandals
                    </p>
                    <span>Price: &#x20B9;</span>
                    <span class="price">499</span>
                    <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
                </div>
            </div>
            
            <div class="image" dataId="5">
                <div class="imgSec">
                    <img src="https://i.pinimg.com/236x/74/c4/8b/74c48b89c7384e484f318e49cd3847a6.jpg" class="photo" >
                    <div class="text">Bracelet</div>
                    </div>
                    <div class="desc">
                        <p class="name">Butterfly Bracelet
                        </p>
                        <span>Price: &#x20B9;</span>
                    <span class="price">499</span>
                        <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
                    </div>
                </div>
        <div class="image" dataId="6">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/98/3a/31/983a317ef00a1abe74f76e2f34c88827.jpg" class="photo">
                <div class="text">Sneakers</div>
            </div>
            <div class="desc">
                <p class="name">White Sneakers
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="7">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/b6/b7/15/b6b7157c9e9eea5fb2bb83feb1775baa.jpg" class="photo">
                <div class="text">Pink gown</div>
            </div>
            <div class="desc">
                <p class="name">Pink Party wear gown
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="8">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/df/91/d1/df91d194b6ab4530bc06c7bd539067f5.jpg" class="photo">
                <div class="text">V-neck Dress</div>
            </div>
            <div class="desc">
                <p class="name">Black V-neck Dress
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>

       </div>
       
       <%- include('./partials/some_scripts')%>
     
    
</body>
<script src="js/collection.js"></script>

</html>
