<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/collection.css">
    <link rel="shortcut icon" href="images/girl3.jpg" type="image/x-icon">
   
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Parsim point</title>
</head>
<body>  
    <%- include('./partials/nav.ejs') %> 
    <%- include('./partials/categoryColl.ejs') %> 
    <div class="container">
      
       
        <div class="image" dataId="15"> 
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/6b/e0/3c/6be03c8425b70b461283ba38df8b80d6.jpg" class="photo">
                <div class="text">Cocktail</div>
            </div>
            <div class="desc">
                <p class="name">Cocktail dress
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="16">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/61/62/b7/6162b735abf69e70af7671b4b9b72291.jpg" class="photo">
                <div class="text">Green gown</div>
            </div>
            <div class="desc">
                <p class="name">Green Party wear gown
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="17">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/7f/ce/ef/7fceeff0dd846d304f4fd14485444496.jpg" class="photo">
                <div class="text">Jumpsuit</div>
            </div>
            <div class="desc">
                <p class="name">Jumpsuit
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="18">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/29/b9/53/29b953e9553985e8b0422135da245656.jpg" class="photo">
                <div class="text">Dungri</div>
            </div>
            <div class="desc">
                <p class="name">Short Dungri
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="19">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/f9/c8/a2/f9c8a2ca4a6a728cadb4ef182a239404.jpg" class="photo">
                <div class="text">Suit</div>
            </div>
            <div class="desc">
                <p class="name">Cotton Suit
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image">
            <div class="imgSec" dataId="2">
                <img src="https://i.pinimg.com/236x/2f/49/08/2f4908f7e23b56bba1ffa9b417cc14c4.jpg" class="photo">
                <div class="text">Floral dress</div>
            </div>
            <div class="desc">
                <p class="name">Floral dress
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="7">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/b6/b7/15/b6b7157c9e9eea5fb2bb83feb1775baa.jpg" class="photo">
                <div class="text">Pink gown</div>
            </div>
            <div class="desc">
                <p class="name">Pink Party wear gown
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="8">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/df/91/d1/df91d194b6ab4530bc06c7bd539067f5.jpg" class="photo">
                <div class="text">V-neck Dress</div>
            </div>
            <div class="desc">
                <p class="name">Black V-neck Dress
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
    </div>
</body>
<%- include('./partials/some_scripts')%>
<script src="js/collection.js"></script>
</html>