<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/girl3.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/collection.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Parsim point</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %> 
    <%- include('./partials/categoryColl.ejs') %> 
    <div class="container">
        <div class="image" dataId="4">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/13/95/63/1395630d77fb6c1ec2eb5e92d48bea5e.jpg" class="photo">
                <div class="text">Sandals</div>
            </div>
            <div class="desc">
                <p class="name">Black Glitter Sandals
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="21">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/d8/fd/43/d8fd4342dee7eab0efa7278d38de4fac.jpg" class="photo">
                <div class="text">Heels</div>
            </div>
            <div class="desc">
                <p class="name">Black High Heels
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="22">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/76/72/d2/7672d2344c9d9a47053b1e92cb8a226d.jpg" class="photo">
                <div class="text">Pumps</div>
            </div>
            <div class="desc">
                <p class="name">Pumps with strap
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="1">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/e5/09/ba/e509ba9db5cca6848325cb0236d5d636.jpg" class="photo">
                <div class="text">Toes Heels</div>
            </div>
            <div class="desc">
                <p class="name">Open Toes Heels
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="23">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/05/ce/48/05ce485cd783a03d665b1361ae3c2a1e.jpg" class="photo">
                <div class="text">White Shoes</div>
            </div>
            <div class="desc">
                <p class="name">Casual White Shoes
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="6">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/98/3a/31/983a317ef00a1abe74f76e2f34c88827.jpg" class="photo">
                <div class="text">Sneakers</div>
            </div>
            <div class="desc">
                <p class="name">White Sneakers
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
        <div class="image" dataId="25">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/6b/7d/49/6b7d49596ce341c477d835f4098325ee.jpg" class="photo">
                <div class="text">Canvas Shoes</div>
            </div>
            <div class="desc">
                <p class="name">Black Canvas Shoes
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>


        <div class="image" dataId="26">
            <div class="imgSec">
                <img src="https://i.pinimg.com/236x/cf/9c/ff/cf9cfff3adb42751cf5d112b65f53920.jpg" class="photo">
                <div class="text">Sports Shoes</div>
            </div>
            <div class="desc">
                <p class="name">Women Sports Shoes
                </p>
                <span>Price: &#x20B9;</span>
                <span class="price">499</span>
                <button type="button" value="Add to cart" id="addTo_cart" class="addTo_cart">Add To Cart</button>
            </div>
        </div>
    </div>
</body>
<%- include('./partials/some_scripts')%>
<script src="js/collection.js"></script>
</html>