

<!-- Categories Start -->
<ul class="categories">
<li class="category "><a href="/collection" >All Products</a></li>
<li class="category "><a   href="/Accessories">Accessories</a></li>
<li class="category "><a  href="/Dresses">Dresses</a></li>
<li class="category "><a  href="/shoes">Shoes</a></li>
</ul>
<!-- Categories finish -->
