<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

<header class="header">
    <img src="images/logo1.jpg" class="logo">

    <nav class="navbar">
        <ul class="navbar-list">

            <li><a href="/" class="navbar-link">Home</a></li>
            <li><a href="/collection" class="navbar-link">Shop</a></li>
            <li><button id="signup" type="button" onclick="window.location.href ='/login'"><a href="/login" class="navbar-link">LOGIN</a></button></li>
            <div class="shoppingCart">
               <a href="/cart"> <i class="fa-solid fa-cart-shopping  fa-2x cartIcon"></i></a>
            </div>
        </ul>

    </nav>

    <div class="mobile-icon">
        <ion-icon name="menu-outline" class="mobile-nav-icon"></ion-icon>
        <ion-icon name="close-circle-outline" class="mobile-nav-icon"></ion-icon>
    </div>
</header>
